* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.hero {
    background-color: #0c4f7b;
    color: white;
    text-align: center;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
    /*max-width: 600px;*/
    line-height: 1.5;
}

.cta-button {
    background-color: #ffffff;
    color: #3d74c3;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 55px;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #d1e0f3;
    color: #3d74c3;
}

/* Responsive hero section text adjustments */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.5em;
    }

    .hero-text p {
        font-size: 0.9em;
    }
}

.about{
    color: black;
    background-color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
}

.hero-container{
    color:black;
    background-color: #e9a151;
    width: 75%;
    height: 45vh;
    border-radius: 55px;
    padding: 10px;
}



























