body{
    background-color: #0c4f7b;;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    text-effect: none;
    text-align: center;
    background-color: #ff8644;
    color: white;
    border: solid 1px white;
    border-radius: 55px;
}

#question{
    background-color: #ff8644;
    color: black;
    border: solid 3px white;
    border-radius: 55px;
    width: 90vh;
    text-align: center;
    padding: 5vh;
}

#choices-container{
    display: flow;
    text-align: center;
    .data-choice{

    }

}


#check-answer{
    background-color: #ff8644;
    color: black;
    border: solid 3px white;
    border-radius: 55px;

}